#game-container {
    max-width: 450px;
    margin-top: 400px;
    background: rgba(94, 94, 94, 0.863);
    color: white;
    padding: 10px;
    text-align: center;
}
button {
    margin-right: 10px;
    border: 0px;
    padding: 3px;
    background-color: white;
}
#inventoryItem {
    margin-top: 5px;
}